backups/
ARCHIVE/
eshell/
.cask/
auto-save-list/
ac-dist/
url/
request/
orgnav-release-2.0.3/
lisp/
elpa/

custom-settings.el
config.el
*~
.org-id-locations
abbrev_defs
network-security.data
org-clock-save.el
ac-comphist.dat
ido.last
.dap-breakpoints
.lsp-session-v1
info/
michael.org
places
quelpa/
recentf
templates/
tramp
transient/

