*~
.cache/
.dap-breakpoints
.lsp-session-v1
.org-id-locations
.org-generic-id-locations
ARCHIVE/
abbrev_defs
ac-comphist.dat
ac-dist/
authinfo.gpg
auto-save-list/
backups/
bookmarks
config.el
custom-settings.el
eln-cache/
elpa/
eshell/
ido.last
info/
lisp/
michael.org
network-security.data
org-clock-save.el
orgnav-release-2.0.3/
places
public/
quelpa/
recentf
request/
templates/
tramp
transient/
url/
